@media (min-width: 992px) and (max-width: 1199px) {
//   --------FRONT PAGE ------------------
  .navbar-brand {
    padding-right: .3em;
  }
  .phone-wrap {
    padding-left: 0.5em;
  }
  #menu-header-menu {
    margin:0;
  }
  .main-header .navbar-nav li {
    padding-left: 1.8em;
  }
  .services-section .services-list .services-post > div {
    margin-right: 1.65em;
  }

}