// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}


//-----Custom Mixins--------------
@mixin front-header-style {
	font: 1rem "RaleSemiBold", sans-serif;
	text-transform: uppercase;
}

@mixin front-title-style {
	font:1.875rem "RaleExtraBold",sans-serif;
	color:#1c1c1c;
	text-transform: uppercase;
    padding-bottom:.625em;
}
@mixin front-subtitle-style {
  font:1rem "Lora",sans-serif;
  color:#1c1c1c;
}
@mixin front-headline-style {
	font:1rem "RaleExtraBold",sans-serif;
	color:#1c1c1c;
	text-transform: uppercase;
}
@mixin front-service-text-style {
	font:0.875rem "OpenSans",sans-serif;
	color:#1c1c1c;
	line-height: 28px;
}
@mixin blog-heading-style {
	font:1.125rem "RaleExtraBold",sans-serif;
	color:#1c1c1c;
	text-transform: uppercase;
	line-height: 30px;
}
@mixin blog-date-style {
	font:0.8125rem "Lora",sans-serif;
	color:#757575;
	text-transform: uppercase;
	line-height: 24px;
}
@mixin front-blog-text-style {
	font:0.875rem "OpenSans",sans-serif;
	color:#585858;
	line-height: 28px;
}
